@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', serif;
    color: var(--color-black);
    background: white;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin: auto;
    margin-top: 5rem;
}

.heading,
.sub-heading {
    margin-bottom: .5rem;
    font-weight: bold;
}

.heading {
    font-size: 2.5rem;
}

.sub-heading {
    text-align: left;
}

.contactForm {
    display: grid;
    gap: 3em;
}

form {
    width: 100%;
    margin-top: 3em;
}

.input {
    margin-top: 0.5rem;
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: var(--formBg);
    color: var(--paraColor);
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    margin-bottom: 1em;
}

.input:focus {
    border: 1px solid var(--color-primary);
}

.input::placeholder {
    text-transform: capitalize;
}

.submit {
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    font-weight: 600;
    cursor: pointer;
    width: 100%;
}

.map-container {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    height: 500px;
    margin-left: 5%;
}

.map-container h2 {
    text-align: left;
}

.map {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.contactMethod {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
    margin-bottom: 2.5rem;
}

.method {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contactIcon {
    font-size: 2.5rem;
    color: var(--color-primary);
    width: 70px;
}

/* animasi */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px); /* Awal animasi dari posisi lebih rendah */
    }
    60% {
        opacity: 0.7; /* Menambah opacity secara bertahap */
        transform: translateY(-10px); /* Posisi lebih tinggi sebelum mencapai akhir */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Posisi akhir pada tempat semula */
    }
}

section,
.contactForm,
form,
.input,
.submit,
.map-container,
.map,
.contactMethod,
.method,
.contactIcon {
    animation: fadeInUp 1s ease-out;
    animation-fill-mode: both; 
}

section {
    animation-delay: 0s; 
}

.contactForm {
    animation-delay: 0.2s;
}

form {
    animation-delay: 0.4s;
}

.input {
    animation-delay: 0.6s;
}

.submit {
    animation-delay: 0.8s;
}

.map-container {
    animation-delay: 1s;
}

.map {
    animation-delay: 1.2s;
}

.contactMethod {
    animation-delay: 1.4s;
}

.method {
    animation-delay: 1.6s;
}

.contactIcon {
    animation-delay: 1.8s;
}

/* responsif */
@media screen and (min-width:800px) {
    section{
        max-width: 1100px;
    }
    
    .contactForm{
        grid-template-columns: 1fr 1fr;
    }   

    .contactMethod{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    section {
        max-width: 90%;
        margin-top: 5rem;
    }

    .heading {
        font-size: 1.8rem;
    }

    .sub-heading {
        font-size: 1.2rem;
    }

    .contactForm {
        gap: 2em;
    }

    .input {
        width: 100%;
        font-size: 0.8rem;
    }

    .submit {
        font-size: 0.8rem;
        padding: 10px 0;
    }

    .map-container {
        height: 300px; 
    }
}

@media (max-width: 1024px) {
    section {
        max-width: 80%;
    }

    .heading {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 1.4rem;
    }

    .input {
        font-size: 0.85rem;
    }

    .submit {
        font-size: 0.85rem;
        padding: 12px 0;
    }

    .map-container {
        height: 400px; 
    }
}